@import "tailwindcss";

@theme {
    --font-display: "Source Sans Pro", 'Arial', 'sans-serif';
    --color-primary: rgb(3, 37, 65);
}

.swiper__before::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 100%);
    z-index: 10;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.swiper__before.hide-gradient::after {
    opacity: 0;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    bottom: 2px !important;
    height: auto !important; 
}

.swiper-scrollbar-drag {
    background: #0000004d !important;
    height: 8px !important;
}